.titulo{
  margin: 15px;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  text-shadow: 1px 1px 1px black;
}

.items{
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  text-shadow: 1px 1px 1px black;
}



.main-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; /* Añadido para centrar verticalmente */
  height: 80vh; 
} 


.product-container-wrapper {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de ancho flexible */
  gap: 20px; /* Espacio entre las tarjetas */
  margin: 10px 10px 50px 10px; /* Margen en los lados izquierdo y derecho */
}
