/* NavBar.css */

/* Estilo para el logo */
.navbar-logo {
    width: 40px; 
    height: auto; 
}

/* NavBar.css */

/* Estilo para el fondo de la navbar */
.custom-navbar-bg {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 17%, rgba(252,70,248,1) 89%);
    
}

/* Estilo para la marca del navbar */
.navbar-brand {
    color: #343a40; 
    font-weight: bold; 
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
    color: blueviolet; 
    font-weight: bold;
    margin-right: 20px; 
}

/* Estilos para "INICIO" */
.navbar-brand.inicio {
    /* Estilos específicos para "INICIO" */
    color: blueviolet; /* Por ejemplo, cambiar el color del texto a rojo */
    /* Agrega más estilos según sea necesario */
}

/* Estilos para "NOSOTROS" */
.navbar-nav .nav-link.nosotros {
    /* Estilos específicos para "NOSOTROS" */
    color: blueviolet; /* Por ejemplo, cambiar el color del texto a azul */
    /* Agrega más estilos según sea necesario */
}


/* Estilo para el botón del toggler */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0,0,0,.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>'); /* Icono personalizado */
}

/* Estilo para la barra del toggler */
.navbar-toggler {
    border: none;
}

.ml-2{
    margin: 10px;
}